<section class="container-fluid usermgt mb-3">
<div class="row">
  <div class="col-2 mt-1">
    <%= link_to '<i class="fa fa-arrow-left fs-3 fw-normal float-left" aria-hidden="true"></i>'.html_safe, path_back %>
  </div>
  <div class="col-7 mt-1">
      <h5><%= page_name %></h5>
  </div>
  <div class="col-3 mt-1">
      <%= link_to path_to_text, path_to %>
  </div>
</div>
</section>