<section class="app-logo">
   <%= image_tag("welcome.jpg") %>
</section>
<section class="splash-buttons">
   <%= link_to 'LOG IN', new_user_session_path, class: 'btn login-btn' %>
   <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn signup-btn'%>
</section>