<section class="watch-board shadow p-2">
</section>
<section class="list-wrapper">
   
</section>
<%= link_to new_expense_path, class: 'foot-button' do %>
    <div class="btn-build">
        Record Expense
    </div>
<% end %>
